.contact {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  background-color: #f9f9f9;
}

.contact h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.contact h2.visible {
  opacity: 1;
  transform: translateY(0);
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.contact-form, .social-links {
  flex: 1;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form label {
  display: flex;
  flex-direction: column;
}

.contact-form input, .contact-form textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 0.75rem;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.contact-form button:hover {
  background-color: #555;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social-links h3 {
  margin-bottom: 1rem;
}

.elfsight-app-e3f94b44-bc6a-4d6d-beb8-d0cbf7a9aca3 {
  width: 100%;
}
